#pp_openantrag_banner_header {
    display: block;
}

#pp_openantrag_banner_linkage {
    cursor: pointer;
	padding-left: 18px;
}

#pp_openantrag_banner_sprite {
    height: 167px;
    width: 160px;
    background: url('pp_openantrag_banner_sprite.jpg') no-repeat 0 0;
}

#pp_openantrag_banner_text {
    float: left;
    font-family: 'BebasNeue',Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    color: white;
    margin-top: 148px;
    margin-left: 20px;
    height: 19px;
    line-height: 19px;
    padding-top: 1px;
}